# Build systems
.gradle/
build/
bin/
out/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Databases and related files
*.mv.db
*.trace.db
*.mv.db.backup
/database-backup.sql
/export.sql
db/
new-databases/
old-databases/
tmp/

# Configuration and secrets
/ukulele.yml
/ukulele.yml.bak
/gradle.properties

# IDE specific files
.idea/
.vscode/
.kotlin/
.run/
*.iws
*.iml
*.ipr

# Operating System files
hs_err_pid*
replay_pid*
*.log

# Project specific artifacts
/ukulele.jar
/CONTRIBUTING.md
/HELP.md

# Scripts and binaries
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar
/ukulele
/ukulele.bat
/Ukulele Discord Bot.bat
/h2-*.jar
/upgrade-h2-database.bat
/upgradeH2.sh

/docker-compose.override.yml
